<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <title>JSEcommerce | Add New</title>
</head>
<body>
    <div class="header-lang">
    
    </div>
    <header class="heder">
      
    </header>
        
            
    <section class="new-items">
        <div class="container">
            <div class="new-item-form">
                
            <p class="alert" ></p>
              <form action="" class="new-item">
                  <input id="item-title" type="text" placeholder="Title">
                  <input id="item-color" type="text" placeholder="color">
                  <select id="item-memory">
                      <option hidden value="select">Select Memory Size</option>
                      <option value="32 G">32 G</option>
                      <option value="64 G">64 G</option>
                      <option value="128 G">128 G</option>
                      <option value="256 G">256 G</option>
                      <option value="512 G">512 G</option>
                  </select>
                  <input id="item-price" type="text" placeholder="Enter price">
                  <input type="submit" value="Publish">
              </form>
                    
             </div>
            </div>
        </div>
    </section>


    <script src="../js/header.js" ></script>  
    <script src="../js/user.js" ></script>  
    <script src="../js/createnew.js" ></script>
    <!-- <script src="../js/products.js" ></script>   -->
    <!-- <script src="../js/ProductData.js" ></script>   -->

</body>
</html>