<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <title>JSEcommerce | Cart</title>
</head>
<body>
    <div class="header-lang">
    
    </div>
    <header class="heder">
      
    </header>
    <div class="number">
        
            
    </div>
    <section class="carts-items">
        <div class="container">
            <div class="no-content"></div>
             <div class="favorites">
                <div class="item-favorite">
                    <div class="item-favorite-img">
                        <img src="" alt="img">
                    </div>
                    <div class="item-favorite-content">
                       
                            <h2>titile</h2>
                            <h3>size</h3>
                       
                       <div class="clearIcon">
                        <i id="clearIcon" class="fa fa-trash" ></i>       
                      </div>                        
                    </div>
                </div>
                 
            </div>
        </div>
    </div>
</section>




    <script src="../js/header.js" ></script>  
    <script src="../js/user.js" ></script>  
    <script src="../js/favorite.js"></script>
    <!-- <script src="../js/cart.js" ></script> -->
    <!-- <script src="../js/products.js" ></script>   -->
    <!-- <script src="../js/ProductData.js" ></script>   -->

</body>
</html>